<div class="jumbotron">
        <div class="row" id="title">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h1>Make a Burger</h1>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <div class="row" id="title">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h3>Enter your burger craving, then devour it when ready...</h3>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>

 

<h2>Not Devoured</h2>
<ul>
  {{#each burgers}}
  {{#unless devoured}}
  <div>
    <l1>{{burger_name}}
      <form class="devour-form" data="{{id}}">
        <input type="hidden" name="devour" value="true">
        <button type="submit" class="btn btn-success">Devour!</button>
      </form>
    </l1>
  </div>

  {{/unless}}
  {{/each}}
</ul>

<h2>Devoured</h2>
<ul>
  {{#each burgers}}
  {{#if devoured}}
  <h1>{{burger_name}}</h1>
  {{/if}}
  {{/each}}
</ul>

<form class="create-form">

  <div class="form-group">
    <label for="ca"></label>
    <input type="text" id="ca" name="name">
  </div>
  <button type="submit" class="btn btn-primary">Add a Burger</button>
</form>